body {
  background: linear-gradient(180deg, var(--main-color), var(--secondary-color));
    color: var(--accent-color);
}

header {
  position: static;
}

main {
  height: fit-content;
  /* background: linear-gradient(180deg, #5e96bb, #a4d8fb); */
  padding: 50px 20px 0;
}

img {
  width: 250px;
  height: 100%;
  object-fit: cover;
}

#blackbird-img {
  object-position: 80% 0;
}

h2 {
  text-align: start;
  font-size: 20px;
  padding: 0;
  margin: 0;
}

main ul {
  /* width: 1200px; */
  margin: 0 auto 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 20px;
  padding:0;
}

main li {
  display: flex;
  background-color: var(--secondary-color);
  box-shadow: 0 0 10px var(--accent-color);
  border-radius: 6px;
  overflow: hidden;
  min-width: 300px;
}

li:nth-of-type(3) {
    /* grid-column: 1 / 3; */
    grid-column: 1 / span 2;
}

main p {
  font-size: 12px;
}

.item-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actions {
    text-align: right;
}

.actions a {
    text-decoration: none;
    padding: 6px;
    color: var(--accent-color);
    border-radius: 3px;
}

.actions a:hover {
    background-color: var(--accent-color);
    color: var(--secondary-color);
}

@media (max-width: 900px) {

  main ul {
    grid-template-columns: 100%;
  }
  
  main li {
    flex-direction: column;
    align-items: stretch;
    /* min-width:unset; */
  }

  li:nth-of-type(3) {
    /* grid-column: 1 / 3; */
    grid-column: 1;
  }

  img {
    width: 100%;
    height: 18rem;
    object-position: 0 20%;
  }
}

@media (max-width: 400px) {
  .item-title {
    align-items: flex-start;
    flex-direction: column;
  }
}