header {
    position: static;
  }

main {
    min-height: 800px;
    padding: 50px;
}

h1 {
    color: rgb(35, 65, 113);
    text-shadow: 0 0 1px darkred;
    text-align: center;
}

h2 {
    text-align: left;
    margin: 0.5rem 0;
    padding: 0;
}

form {
    width: fit-content;
    margin: 1rem auto;
    background-color: rgba(35, 65, 113, 0.833);
    color: white;
    padding: 1rem;
    border-radius: 6px;
}

ul {
    list-style: none;
    padding: 0;
}

label {
    margin-bottom: 0.5rem;
}

input, select, textarea {
    width: 100%;
    box-sizing: border-box;
    font: inherit;
    border: 1px solid darkred;
    border-radius: 6px;
    padding: 0.25rem;
    color: rgb(61, 0, 0)
}

input:focus,  input:hover, textarea:focus, textarea:hover{
    background-color: rgba(0, 255, 255, 0.322);
}

textarea {
    resize: none;
}

button {
font:  inherit;
width: 100%;
margin-top: 1rem;
background-color: rgb(61, 0, 0);
color: white;
border: 3px solid rgb(61, 0, 0);
padding: 0.5rem 1.5rem;
border-radius: 6px;
cursor: pointer;
}

button:hover {
    background-color: rgb(90, 1, 1);
    border-color:  rgb(90, 1, 1);
}



.form-control-inline {
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
    justify-content: flex-end;
}

.form-control-inline input {
    width: auto;
}

#register-data {
    display: flex;
    flex-direction: row;
}

 #register-data section {
    width: 20rem;
    padding: 1rem 2rem;
}

form div+div {
    padding: 0 2rem 1rem;
}


@media screen and (max-width: 800px) {
    #register-data {
        display: unset;
    }
}
