body {
    font-family: 'Arima', cursive;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    position:absolute;
    top:0;
    width:100%;
    box-sizing: border-box;
    
}

a {
    text-decoration: none;
    color:#560000;
}

nav a {
    font-size: 25px;
    font-weight: bold;
    padding: 5px 12px 0;
    text-shadow: 0 0 1px black;
}

nav a:hover{
    background-color: rgba(255, 255, 255, 0.626);
    border-radius: 5px;
    box-shadow: 0 0 2px rgb(255, 255, 255);
}

ul {
    list-style: none;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 20px;
    color:brown;
}

nav li {
    padding: 10px;
}

nav li+li {
    border-left: 1px solid black;
}

h2 {
    text-align: center;
    font-size: 30px;
    padding-top: 25px;
    margin-top: 0;
}

#page-logo a {
    padding: 10px;
    font-weight: 700;
    color: #560000;
    font-size: 50px;
    font-family: 'Alegreya SC', serif;
    text-shadow: 0px 0px 10px white;
}
