#hero {
  height: 600px;
  background-image: url("/resources/images/birds-in-front-of-propylaea.jpg");
  background-position: 55% 37%;
}

#hero-content {
  width: 700px;
  background-color: rgba(51, 47, 47, 0.8);
  box-shadow: 0 0 8px black;
  border-radius: 10px;
  text-align: center;
  padding: 50px 0;
  margin: 0 auto;
  position: relative;
  top: 200px;
}

#hero-content h1 {
    color:white;
    font-size: 35px;
    margin:0;
   
}

#hero-content p {
    color:white;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 32px;
} 

#hero-content a {
    background-color: #8e0000;
    padding: 12px 24px 6px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    border-radius: 10px;
    box-shadow: 0 0 8px black;
}

#hero-content a:hover {
    background-color: #640000;
}

#highlights {
    background:linear-gradient(180deg, #c6c0b1, white) ;
}

#birds {
    display:flex;
    width: 90%;
    margin: auto;
    padding-bottom: 40px;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    font-size: 20px;
}

sub {
    color: darkred;
}

.bird {
    margin: 0 20px;
}

.bird p {
    margin-top: 0;
    margin-bottom: 50px;
}

#birds img {
    width: 300px;
    height: 170px;
    border-radius: 5px;
    box-shadow: 0 0 10px darkslategray;
    object-fit: cover;
}
